main > .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

body {
    background-color: #f8f9fa;
}

.component-box {
    border-radius: 5px;
    background-color: #fff1bf;
    border-style: dashed;
    border-color: #b38b00;
    border-width: 2px;
    margin-top: 15px;
}

.component-header {
    background-color: #d8cba2;
    font-weight: bold;
}

.component-layer {
    font-weight: normal;
}

th, td {
    vertical-align: top;
}

.component-type {
    border-radius: 5px;
    background-color: #9c9375;
    padding-bottom: .25rem !important;
    padding-top: .25rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.layer-box, .tag-box {
    border-radius: 5px;
    background-color: #bfe5ff;
    border-style: dashed;
    border-color: #91afc2;
    border-width: 2px;
    margin-top: 15px;
}

.layer-header, .tag-header {
    background-color: #1a54ab;
    color: white;
    font-weight: bold;
}
